@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #F7F7F7;
}

::selection{
    background-color: #009465;
    color: white;
}

.Logo{
    border-radius: 50%;
}

#barra_nav{
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#barra_nav:hover{
    cursor: pointer;
}

#Bt_login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}



.Button_join{
    background-color: #005F41;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
}

.Button_join:hover{
    cursor: pointer;
    color: #ececec;
    background-color: #02744f;
}

.button_criar{
    color: #005F41;
    background-color: #F7F7F7;
    border: none;
    font-size: 16px;
}

.button_criar:hover{
    cursor: pointer;
    color: #02744f;
}

main{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#texto01{
    font-size: 25px;
    color: #3E3E3E;
}

#texto02{
    color: #3E3E3E;
    font-size: 23px;
}

.pesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.barra_icon{
    background-color:#F7F7F7;
    border-radius: 5px;
    color: #005F41;
    padding-left: 20px;
}


.barra{
    border: none;
    background-color: #F7F7F7;
    width: 300px;
    border-radius: 5px;
    padding: 12px;
}

.barra:hover{
    background-color:#ececec;
}

.barra_icon:hover{
    background-color: #ececec;
    border: none;
}

.barra:focus {
    background-color: #ececec;
    border: none;     
    outline: none;    
}

#bt_pesquisa{
   background-color: #005F41;
   color: white;
   border-radius: 5px;
   padding: 10px;
   border: none;
}

#bt_pesquisa:hover{
    cursor: pointer;
    color: #ececec;
    background-color: #02744f;
}

#search{
    background-color: #F7F7F7;
    color: #005F41;
        
}